/* Algemene stijl voor het hele document */
body {
    background-image: url('fotos/ae47d53a-535e-4f51-b847-38c5de0574a4.jpg');
    background-position: center;
    background-size: cover;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Stijl voor alle h1-elementen */
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}


/* Stijl voor de dobbelstenencontainer */
.dice {
    width: 300px; /* Aangepaste breedte */
    display: inline-block;
    text-align: center; /* Centreert de punten binnen de dobbelsteen */
    transform: translate(-70% , -150%);
}

.show-1::before {
    content: url('/fotos/1.png');
}

.show-2::before {
    content: url('/fotos/2.png');
}

.show-3::before {
    content: url('/fotos/3.png');       
}

.show-4::before {
    content: url('/fotos/4.png');       
}

.show-5::before {
    content: url('/fotos/5.png');       
}

.show-6::before {
    content: url('/fotos/6.png');       
}


/* Stijl voor de pop-up inhoud */
.popup-content {
    background-color: #000000;
    color: #ffffff; /* Wijzig de tekstkleur naar wit */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.comp {
    transform: translate(60%, -950%);
}
.vs {
    transform: translate(380%, -950%);
    
}

.jij {
    transform: translate(720%, -950%);
}

.button {
transform: translate(-400%, 100%);
}
